<footer class="mb-12 mx-8 md:mx-16 lg:mx-32 text-center">
	<p class="text-slate-700 text-sm">Copyright &copy; 2023 <span class="font-bold text-orange-500">Rzq</span>. All rights reserved.</p>
</footer>